<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>CLINIC APP</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">CLINIC APP</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="my-1.5">
        <form method="post" th:action="@{/clinic/save}">
        <div class="form-group blu-margin">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Select Doctor</th>
                    <th scope="col">Select Patient</th>
                    <th scope="col">Select Disease</th>
                    <th scope="col">Select Medicine</th>
                    <th scope="col">Enter Prescription</th>
                </tr>
                </thead>
                <tbody>
                <td>
            <select class="form-control" th:field="${doctorMaster.doctorId}" name="doctorId"  id="doctorId">
                <option value="0">-Select-</option>
                <option th:each="doctorMaster : ${doctorsList}" th:value="${doctorMaster.doctorId}" th:text="${doctorMaster.doctorName}"></option>
            </select>
                </td>
            <td>
            <select class="form-control" name="doctorAppId" id="doctorAppId">
            </select>
            </td>
            <td>
            <select class="form-control" th:field="${diseaseMaster.diseaseId}" name="diseaseId" id="diseaseId">
                <option value="0">-Select Disease-</option>
                <option th:each="diseaseMaster : ${diseaseList}" th:value="${diseaseMaster.diseaseId}" th:text="${diseaseMaster.diseaseName}"></option>
            </select>
            </td>
            <td>
            <select class="form-control" name="medicineId" id="medicineId">
            </select>
            </td>
            <td><textarea class="form-control" name="prescriptionId"  id="prescriptionId"></textarea></td>
                </tbody>
            </table>
            </br>
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Patient Phone</th>
                    <th scope="col">Date Of Appointment</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="patientPhone" name="patientPhone" readonly="true"/>
                    </td>
                    <td>
                        <input type="text" id="dateOfAppointMent" name="patientPhone" readonly="true"/>
                    </td>
                </tr>
                </thead>
            </table>
            <button align="center" type="submit" class="btn btn-secondary" id="btnSave">Save</button>
        </div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $('document').ready(function () {
    $('#btnSave').on('click',function () {
        //var doctorId = document.getElementByName("doctorId");
        alert(#doctorId.value)
    })
})
    $('document').ready(function () { // Line 1
    $('#doctorId').on('change',function () { // Line 2
        $('#doctorAppId').empty().append('<option value="0">-Select Patience-</option>'); // Line 3
        var doctorId = $(this).val(); //Line 4
        var href = "http://localhost:8077/doctorAppointment/getByDoctor/" + doctorId //Line 5
        $.get(href, function (list, status) { // Line 6
            //var doctorAppointments = country.states; // Line 7
            for (var i = 0; i <= list.length-1; i++) { // Line 8
                $('#doctorAppId').append('<option value="' + list[i].doctorAppointmentId + '">' + list[i].patientName + '</option>'); // Line 9
            }
        })
    })
})
$('document').ready(function () { // Line 1
    $('#doctorAppId').on('change',function () { // Line 2
        var doctorAppId = $(this).val(); //Line 4
        alert(doctorAppId)
        var href = "http://localhost:8077/doctorAppointment/" + doctorAppId //Line 5
        $.get(href, function (doctorAppointmentDtl, status) { // Line 6
        alert(doctorAppointmentDtl.patientPhone)
            $('#patientPhone').val(doctorAppointmentDtl.patientPhone);
            $('#dateOfAppointMent').val(doctorAppointmentDtl.dateOfAppointment);
        })
    })
})
$('document').ready(function () { // Line 1
    $('#diseaseId').on('change',function () { // Line 2
        $('#medicineId').empty().append('<option value="0">-Select Medicine-</option>'); // Line 3
        var diseaseId = $(this).val(); //Line 4
        var href = "http://localhost:8077/medicineMaster/getByDisease/" + diseaseId //Line 5
        $.get(href, function (list, status) { // Line 6
            //var doctorAppointments = country.states; // Line 7
            for (var i = 0; i <= list.length-1; i++) { // Line 8
                $('#medicineId').append('<option value="' + list[i].medicineId + '">' + list[i].medicineName + '</option>'); // Line 9
            }
        })
    })
})
</script>
</body>

</html>