<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>CLINIC APP</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">CLINIC APP</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="my-1.5">
        <form id="form" method="post" th:action="@{/clinic/save}">
        <div class="form-group blu-margin">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Select Doctor</th>
                    <th scope="col">Select Patient</th>
                    <th scope="col">Select Disease</th>
                    <th scope="col">Select Medicine</th>
                    <th scope="col">Enter Prescription</th>
                </tr>
                </thead>
                <tbody>
                <td>
            <select class="form-control" th:field="${doctorMaster.doctorId}" name="doctorId"  id="doctorId">
                <option value="0">-Select-</option>
                <option th:each="doctorMaster : ${doctorsList}" th:value="${doctorMaster.doctorId}" th:text="${doctorMaster.doctorName}"></option>
            </select>
                </td>
            <td>
            <select class="form-control" name="doctorAppId" id="doctorAppId">
            </select>
            </td>
            <td>
            <select class="form-control" th:field="${diseaseMaster.diseaseId}" name="diseaseId" id="diseaseId">
                <option value="0">-Select Disease-</option>
                <option th:each="diseaseMaster : ${diseaseList}" th:value="${diseaseMaster.diseaseId}" th:text="${diseaseMaster.diseaseName}"></option>
            </select>
            </td>
            <td>
            <select class="form-control" name="medicineId" id="medicineId">
            </select>
            </td>
            <td><textarea class="form-control" name="prescriptionId"  id="prescriptionId"></textarea></td>
                </tbody>
            </table>
            </br>
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Patient Phone</th>
                    <th scope="col">Date Of Appointment</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="patientPhone" name="patientPhone" readonly="true"/>
                    </td>
                    <td>
                        <input type="text" id="dateOfAppointMent" name="patientPhone" readonly="true"/>
                    </td>
                </tr>
                </thead>
            </table>
            <button align="center" type="submit" class="btn btn-secondary" id="btnSave">Save</button>
        </div>
        </form>
    </div>
    <div class="form-group blu-margin" id="dynamicTable">
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $('document').ready(function () {
    $('#form').submit(function (e) {
        var doctorId = $('#doctorId').val()
        if(doctorId == 0){
            alert('Data Incomplete.Please provide the correct data to proceed.')
            e.preventDefault();
        }
        var doctorId = $('#doctorAppId').val()
        if(doctorAppId == 0){
            alert('Data Incomplete.Please provide the correct data to proceed.')
            e.preventDefault();
        }
        var diseaseId = $('#diseaseId').val()
        if(diseaseId == 0){
            alert('Data Incomplete.Please provide the correct data to proceed.')
            e.preventDefault();
        }
        var medicineId = $('#medicineId').val()
        if(medicineId == 0){
            alert('Data Incomplete.Please provide the correct data to proceed.')
            e.preventDefault();
        }
        var prescriptionId = $('#prescriptionId').val()
        if(prescriptionId == ''){
            alert('Data Incomplete.Please provide the correct data to proceed.')
            e.preventDefault();
        }
    })
})
    $('document').ready(function () {
    $('#doctorId').on('change',function () {
        $('#doctorAppId').empty().append('<option value="0">-Select Patience-</option>');
        var doctorId = $(this).val();
        $('#patientPhone').val("");
        $('#dateOfAppointMent').val("");
        $("#dynamicTable").empty().html('');
        var href = "http://localhost:8077/doctorAppointment/getByDoctor/" + doctorId
       var href2 = "http://localhost:8077/doctorAppointment/fetchAllDA/" + doctorId
        $.get(href, function (list, status) {
            for (var i = 0; i <= list.length-1; i++) {
                $('#doctorAppId').append('<option value="' + list[i].doctorAppointmentId + '">' + list[i].patientName + '</option>');
            }
        })
        $.get(href2, function (list2, status2) {
            $("#dynamicTable").append("<table class="+"table table-hover table-responsive-xl"+">");
                   $("#dynamicTable").append("<thead class="+"thead-light"+">");
                   $("#dynamicTable").append("<tr>");
                   $("#dynamicTable").append("<th scope="+"col"+">SlNo</th>");
                   $("#dynamicTable").append("<th scope="+"col"+">Date</th>");
                   $("#dynamicTable").append("<th scope="+"col"+">Doctor</th>");
                   $("#dynamicTable").append("<th scope="+"col"+">Patient</th>");
                   $("#dynamicTable").append("<th scope="+"col"+">Disease</th>");
                   $("#dynamicTable").append("<th scope="+"col"+">Medicine</th>");
                   $("#dynamicTable").append("<th scope="+"col"+">Status</th>");
                   $("#dynamicTable").append("<th scope="+"col"+"></th>");
                   $("#dynamicTable").append("</tr>");

                   var j = 0 ;
            for (var i = 0; i <= list2.length-1; i++) {
                 j = i+1;
                 var href3 = "http://localhost:8077/doctorAppointment/gereratePDF/" + list2[i].doctorAppointmentId;
                 $("#dynamicTable").append("<tr>");
                 $("#dynamicTable").append("<td>"+j+"</td>");
                 $("#dynamicTable").append("<td>"+list2[i].strDateOfAppointment+"</td>");
                 $("#dynamicTable").append("<td>"+list2[i].doctorName+"</td>");
                 $("#dynamicTable").append("<td>"+list2[i].patientName+"</td>");
                 $("#dynamicTable").append("<td>"+list2[i].diseaseName+"</td>");
                 $("#dynamicTable").append("<td>"+list2[i].medicineName+"</td>");
                 $("#dynamicTable").append("<td>"+list2[i].appointmentStatus+"</td>");
                 if(list2[i].appointmentStatus  == 'Prescribed')
                 {
                    $("#dynamicTable").append("<td><a href="+href3+">Download Prescription</a></td>");
                 }
                 else{
                    $("#dynamicTable").append("<td></td>");
                 }
                  $("#dynamicTable").append("</tr>");
           }
            $("#dynamicTable").append("</thead>");
            $("#dynamicTable").append("</table>");
        })
    })
})
$('document').ready(function () {
    $('#doctorAppId').on('change',function () {
        var doctorAppId = $(this).val();
        var href = "http://localhost:8077/doctorAppointment/" + doctorAppId
        $.get(href, function (doctorAppointmentDtl, status) {
            $('#patientPhone').val(doctorAppointmentDtl.patientPhone);
            $('#dateOfAppointMent').val(doctorAppointmentDtl.strDateOfAppointment);
        })
    })
})
$('document').ready(function () {
    $('#diseaseId').on('change',function () {
        $('#medicineId').empty().append('<option value="0">-Select Medicine-</option>');
        var diseaseId = $(this).val();
        var href = "http://localhost:8077/medicineMaster/getByDisease/" + diseaseId
        $.get(href, function (list, status) {
            //var doctorAppointments = country.states;
            for (var i = 0; i <= list.length-1; i++) {
                $('#medicineId').append('<option value="' + list[i].medicineId + '">' + list[i].medicineName + '</option>');
            }
        })
    })
})
</script>
</body>

</html>